<!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a routerLink="" class="navbar-brand">Navbar</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
          </li>
        </ul>
  
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="register" routerLinkActive="active" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
              <a routerLink="login" routerLinkActive="active" class="nav-link">login</a>
            </li>
          </ul>
        </div>
  
      </div>
    </div>
  </nav>

 
  
<div class="container mt-3">
    <!-- <router-outlet></router-outlet> -->

    <div class="toast show">
      <div class="toast-header">
        <strong class="me-auto">Toast Header</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
      </div>
      <div class="toast-body">
        <p>Some text inside the toast body</p>
      </div>
    </div>
    
</div>

<h1>new added changes</h1>
